<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CV Portal</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <nav>
        <div class="container-fluid p-0 bg-warning">
            <div class="container-fluid container-lg p-0">
                <div class="textColor">
                    <div class="row justify-content-center align-items-center mx-auto">
                        <div class="col-12 col-lg-3 p-0">
                            <div class="display-3 fw-bold py-2 text-center text-lg-start d-none d-lg-block">LOGO</div>
                            <!-- <hr class="d-block d-lg-none"> -->
                        </div>
                        <div class="col-4 col-lg-3 sideLine">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="me-3 p-2 py-3">
                                    <img class="iconHeight"
                                         src="~/Content/img/building-check.svg" alt="building">
                                </div>
                                <div class="d-none d-lg-block">
                                    <span class="fw-medium">Opening Hour</span> <br>
                                    Mon-Fri : 8:00 - 9:00
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-lg-3 sideLine">
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="#">
                                    <div class="me-3 p-2 py-3">
                                        <img class="iconHeight"
                                             src="~/Content/img/telephone-svgrepo-com.svg" alt="telephone">
                                    </div>
                                </a>
                                <div class="d-none d-lg-block"><span class="fw-medium">Call Us</span><br> +1-800-123-1234</div>
                            </div>
                        </div>
                        <div class="col-4 col-lg-3">
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="#">
                                    <div class="me-3 p-2 py-3">
                                        <img class="iconHeight"
                                             src="~/Content/img/mail-svgrepo-com.svg" alt="Mail">
                                    </div>
                                </a>
                                <div class="d-none d-lg-block"><span class="fw-medium">Email Us</span><br> example@emmail.com</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-0 d-lg-none">
                <div class="text-center display-3 fw-bold mb-2 d-lg-none">LOGO</div>
                <div class="navbarBgDark" data-bs-theme="dark">
                    <nav class="navbar navbar-expand-lg justify-content-center justify-content-lg-between p-0">

                        <button class="navbar-toggler m-3 w-100" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            Menu
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
                            <ul class="navbar-nav text-uppercase ps-3">
                                <li class="nav-item">
                                    @Html.ActionLink("Home", "Home", "Home", new { area = "" }, new { @class = "nav-link px-lg-3" })
                                </li>
                                @if (Session["objUser"] != null)
                                {
                                    <li class="nav-item">
                                        @*@Html.ActionLink("Personal Information", "Home", "Home", new { area = "" }, new { @class = "nav-link px-lg-3" })*@
                                        <a href="@Url.Action("PersonalInfo", "Applicant", new { area = "" })" class="nav-link px-lg-3">
                                            Personal
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("EducationInfo", "Applicant", new { area = "" })" class="nav-link px-lg-3">
                                            Education
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("PersonalInfo", "Applicant", new { area = "" })" class="nav-link px-lg-3">
                                            Employment
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("PersonalInfo", "Applicant", new { area = "" })" class="nav-link px-lg-3">
                                            Training
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("PersonalInfo", "Applicant", new { area = "" })" class="nav-link px-lg-3">
                                            Reference
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("PersonalInfo", "Applicant", new { area = "" })" class="nav-link px-lg-3">
                                            Applied jobs
                                        </a>
                                    </li>
                                }
                            </ul>
                            @Html.Partial("_loginPartial")
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PlayOn24</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
</body>
</html>