@model CVPortal.Models.CVPortalLogin
@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <section class="h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">
                            <div class="col-xl-6 d-none d-xl-block">
                                <img src="~/Content/img/HRM_Rec_New.jpg"
                                     alt="Sample photo" class="img-fluid"
                                     style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; height: 420px;" />
                            </div>
                            <div class="col-xl-6">
                                <div class="card-body pt-5 text-black">
                                    <h3 class="pt-3">User Login</h3>

                                    <div class="form-horizontal" id="LoginForm">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "example@email.com" } })
                                                @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.PasswordFor(model => model.UserPassword, new { @class = "form-control", placeholder = "enter your password" })
                                                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-6 pt-2">
                                                <input id="resetButton" type="reset" value="Reset" class="btn btn-light btn-lg" />
                                                <input type="submit" value="Login" class="btn btn-info btn-lg ms-2" />
                                            </div>
                                            <div class="clearfix"></div>
                                            <br />
                                            @{
                                                if (!string.IsNullOrEmpty(Model.SuccessMessage))
                                                {
                                                    <div class="alert alert-success" role="alert">
                                                        <strong>Success!</strong> @Model.SuccessMessage
                                                    </div>
                                                }
                                                if (!string.IsNullOrEmpty(Model.ErrorMessage))
                                                {
                                                    <div class="alert alert-warning" role="alert">
                                                        <strong>Sorry!</strong> @Model.ErrorMessage <a href="@Url.Action("Register", "Account")">Register</a> Now
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script>
    $(document).ready(function () {
        $("#resetButton").click(function () {
            $("#LoginForm")[0].reset();
        });
    });
</script>